################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/RnSchool/.vs/RnSchool/v16
/RnSchool/RnSchool/obj
/RnSchool/RnSchool/bin